{% load static %}

<html>

    <head>
        <title>Detail</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="{% static '/css/transDetail.css' %}">

    </head>

    <body>

        <div class="container">
        
            <header class="header">
                <h2>Transaction Details</h2>
            </header>

            <form action="" method="POST">
                {% csrf_token %}

                <section class="new-transaction">

                    <div class="new-transaction-form">
                        <input type="text" class="type" name="itemname" value="{{ transactions.itemName }}">
                    </div>

                    <hr>

                    <div class="new-transaction-form">
                        <input type="text" class="type" name="amount" value="{{ transactions.itemPrice }}">
                    </div>

                    <hr>

                    <div class="new-transaction-form">
                        <input type="text" class="type" name="datetime" value="{{ transactions.transactionDate }}">
                    </div>

                    <hr>

                    <div class="new-transaction-form">
                        <input type="text" class="type" name="category" value="{{ transactions.category }}">
                    </div>

                    <hr>

                </section>

                <section class="buttons">

                    <div class="update-button">
                        <button id="update-button"><a href="{% url 'updateExpense' transactions.id %}">Update</a></button>
                    </div>
                    
                    <div class="cancel-button">
                        <button id="cancel-button"><a href="{% url 'home' %}">Cancel</a></button>
                    </div>
                    
                    <div class="delete-button">
                        <button id="delete-button"><a href="{% url 'deleteExpense' transactions.id %}">Delete</a></button>
                    </div>
                    
                <section>

            </form>

        </div>

    </body>

</html>